<include file="Index/header" />
<?php $vo = $news;  ?>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-9">
                <div class="article">
                    <h1 style="text-align: center;">{$article.title}</h1>
                    <div class="article-content" >
                        {$article.content}
                    </div>
                </div>

            </div>
            <include file="Index/right" />
        </div>
    </div>
</section>
</body>
<script src="/Public/js/jquery.js"></script>
<script>

</script>
</html>