<include file="Index/header" />
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-9">
                <h1>关于我们</h1>
                <p>&nbsp;</p>
                <p>
                    中国演讲网位于素有“礼仪之邦”美称的中国山东省，这里是孔子和孟子的故乡，人杰地灵，物华天宝。事务所成立于2003年，现拥有专兼职员工1890人，其中本科1100人，硕士600人，博士110人，外籍兼职员工80人，是中国首家也是最大的一家横跨中英文两个语种的大型商务写作机构。事务所成立11年来，始终坚持“诚信经营，为客户创造价值”的经营理念，为社会各界提供专业、快捷、到位的撰稿和翻译服务，深受广大客户的好评。
                </p>
                <p>&nbsp;</p>
                　　
                <p><strong>定　　位：</strong>中国第一商务写作品牌。</p>

                <p>&nbsp;</p>

                <p><strong>企业愿景：</strong>做中国最专业、最权威、最贴心的商务撰稿机构。</p>
                <p> ·光华写作将以长远的战略眼光、诚信负责的职业操守、敢为人先勇于奉献的理念，为社会各界提供及时、快捷、个性化的撰稿服务；
                    ·坚持“客户第一”理念，从为客户创造价值、为社会社会创造价值开始，从而提升企业价值，同时促进中国文化创意产业的繁荣；
                    · 以人为本，重视员工利益，激发员工潜能，在企业价值最大化的前提下追求员工价值的最大实现；
                    · 通过成熟有效的营销、管理机制，实现网站健康、持续、快速的发展，与所有合作伙伴一起成长，分享成长的价值；
                    · 不忘关爱社会、回馈社会，以身作则，推动中国文化产业的健康发展。</p>
                <p>&nbsp;</p>　

                <p><strong>价值观：</strong>正直，诚信，合作，创新</p>
                <p>&nbsp;</p>
                <p> 正直：· 做人以德为先，保持正直、公正、正义；尊重自己，尊重别人，尊重客观规律，尊重公司制度，从而自爱自强。
                    诚信：· 诚信是中华民族的传统美德，也是儒家伦理的重要内容；· 诚信，乃立身之本，事业成功之基；· 没有诚信的人，不可交；没有诚信的企业不长久。
                    合作：· 团队优秀才能真正成就个人的优秀，与环境和谐发展是事务所基业长青的基础；· 积极主动，重视整体利益，从而创造优秀的团队绩效；· 放眼长远，胸襟宽广，不断追求优秀的合作境界。
                    创新：· 创新不仅是一种卓越的工作方法，也是一种卓越的人生信念；· 在方式、方法、内容上，时时寻求更好的解决方案，精益求精，谋求更高的服务水平；事务所的不断成长。
                </p>
                               　　
                <p>&nbsp;</p>　
                <p><strong>本站职员构成及运营模式：</strong></p>
                <p>职员构成：
                    　　我们的工作人员由专职和兼职两部分组成，他们具有良好的教育背景，很多都出自国内外著名大学。他们积累了丰富的从业经验，能够迅速准确把握客户意图，出色完成工作任务。
                    　　目前公司拥有专兼职工作人员1890名。兼职工作人员分布在国内众多行业和众多部门，他们都是相关行业的写作精英，能够满足所有客户的不同服务需求。海外兼职主要分布在新加坡、澳大利亚、美国、加拿大等地，他们有的是华人华裔，有的中国留学生，有的是当地土著居民，他们拥有良好的敬业精神和较强的工作能力。
                    　　运营模式：
                    　　中国演讲网是中国演讲界最权威的门户网站，实行人性化管理，企业化运营，网站拥有良好的企业文化和科学的管理制度，是客户最值得信赖的合作伙伴。</p>
                　　
            </div>
            <!--网站右侧-->
            <include file="Index/right" />
        </div>
    </div>
</section>
</body>
</html>