<include file="Index/header"/>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-9">
                <p>
                    <strong style="font-size: 16px; ">全国免费求稿热线</strong><span
                        style="font-size: 16px; ">：13220535006.</span></p>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>24 小时求稿热线</strong>：13220535006.</span></div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>在线QQ咨询</strong>： 877260066 &nbsp;877260077 &nbsp;316327876.</span>
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>E-mail</strong>:yanjiang126@126.com.</span></div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>办公电话</strong>：0539-8070637 &nbsp; 8070638 &nbsp; 8228521.</span>
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>传真</strong>：0539-8228520.</span></div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>全国演讲培训热线</strong>：13220535006.</span></div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>24小时口才培训热线</strong>：18601080848.</span></div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>演讲与口才培训QQ</strong>：877180011 &nbsp;877180022.</span>
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">　　<strong>地址</strong>：山东省临沂市洗砚池街23号.</span></div>
                <div>
                    &nbsp;
                </div>




            </div>
            <include file="Index/right"/>
        </div>
</section>
</body>
</html>