<include file="Index/header"/>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 leftcontent">

                <div class="article-list toprow">
                    <volist name="recommands" id="vo">
                        <dl>
                            <dt style="color: #006A9C; font-size: 25px; text-align: center;">{$vo.title}</dt>
                            <dd class="news-intro">
                                {$vo.description}
                            </dd>
                        </dl>
                    </volist>
                </div>

                <div class="row">

                    <volist name="show_bizs" id="biz_item">
                        <div class="col-sm-6 col-md-6">

                            <div class="article-list">
                                <div class="article-biz-title">
                                    <a href="/index.php?c=business&id={$biz_item.biz_id}"><h4>{$biz_item.name}</h4></a>
                                </div>
                                <ul>
                                    <volist name="show_articles" id="arc_item">
                                        <if condition="$arc_item['biz_id'] eq $biz_item['biz_id']">
                                            <a href="/index.php?c=article&id={$arc_item.article_id}"><li>{$arc_item.title}</li></a>
                                        </if>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
            <!--网站右侧-->
            <include file="Index/right"/>
        </div>
    </div>
</section>
</body>
</html>